nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  line-height: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px 0;
}

#nav-profile {
  width: 40px;
}
