.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .container {
    --max-width: 1280px;
  }

  .desktop-only {
    display: initial;
  }
}
